{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
        <h4>National / International Conferences: </h4>
    </div>
    <p class="article-content">
        <li>
            Zia Abbas, Usman Khalid, Antonio Mastrandrea, Mauro Olivieri, “Geometry Scaling Impact on Leakage Currents in FinFET Standard Cells based on a Logic Level Leakage Estimation Technique”, 41st European Solid-State Device Research & Circuits Conference (ESSCIRC 2015). (submitted)
        </li><br>
        <li>
            Zia Abbas, Mauro Olivieri, Antonio Mastrandrea. “Optimal NBTI Degradation and PVT
            Variation Resistant Device Sizing in a Full Adder Cell”, 28th Symposium on Integrated
            circuits and system design (SBCCI)- 2015, Brazil. (submitted)
        </li><br>
                <li>Zia Abbas, Mauro Olivieri, Antonio Mastrandrea. “LEADER: Leakage Currents
                Estimation Technique for Aging Degradation Aware 16nm CMOS Digital Circuits”,
                International Symposium on Low Power Electronics and Design (ISLPED). (submitted)</li><br>
                <li>Zia Abbas, Usman Khalid, Mauro Olivieri. “Sizing and Optimization of Low Power
                Process Variation Aware Standard Cells”, International Integrated Reliability Workshop
                (IIRW), pp.181-184, October (2013), CA, USA.</li><br>
                <li>Zia Abbas, Marat Yakupov, Mauro Olivieri, Andreas Ripp, Gunter Strobe, “Yield
                Optimization for Low Power Current Controlled Current Conveyor “ 25th Symposium on
                Integrated circuits and system design (SBCCI)- 2012, Brazil.</li><br>
                <li> Carmelo Vicari, Zia Abbas, Mauro Olivieri, M. Ali Khozoei. “Statistical Variation Aware
                ANN and SVM Model Generation for Digital Standard Cells”, ECMI 2014 - European
                Consortium for Mathematics in Industry (ECMI), Taormina, Italy. (accepted, to be appear in
                springer book series)</li><br>
                <li> Zia Abbas, Mauro Olivieri, “A Novel Calculation Method of Leakage Currents in Digital
                Nano-Scale Standard-Cell Design“ in 44th Annual Meeting of the Italian Group of
                Electronics (GE), Italy.</li><br>
                <li> Zia Abbas, Mauro Olivieri, “Application of mathematical methods to the modeling and
                optimization of logic cell performance”, ECMI 2014 - European Consortium for
                Mathematics in Industry (ECMI), Taormina, Italy. (abstract)</li><br>
                <li> Zia Abbas, Mauro Olivieri, “Design Centering of Power Aware Current Controlled
                Current Conveyor“ in 44th Annual Meeting of the Italian Group of Electronics (GE), Italy.</li><br>
                <li>Zia Abbas, Vanni Genua, Mauro Olivieri. “A novel logic level calculation model for leakage
                currents in digital nano CMOS circuits”, PRIME-2011, 7th Conference on PhD Research in
                Microelectronics & Electronics, 3-7 July, Madonna di Campiglio, Trento, Italy.</li><br>
                <li> Zia Abbas, Guiseppe Scotti, Mauro Olivieri. “Current Controlled Current Conveyor
                (CCCII) and Application Using 65nm CMOS Technology”, ICMN-2011, World Academy
                of Science, Engineering and Technology (WASET), 27-29 July, Paris, France.</li><br>
                <li>Usman Khalid, Antonio Mastrandrea, Zia Abbas, Mauro Olivieri, “Variability-aware
                modeling of SEU-induced failure probability of logic circuit paths in static conditions”,
                41st European Solid-State Device Research & Circuits Conference (ESSCIRC 2015).
                (submitted)</li>

                <li>Syed Hasan Saeed, Zia Abbas, Bal Gopal. “Experimental Use of Electronic Nose For
                Analysis of Volatile Organic Compound (VOC)” in IEEE digital library organizad by
                International Conference on Multimedia, Signal Processing and Communication Technologies
                (IMPACT-2009), 14-16 March 2009 pp 14-16.</li><br>
                <li>Mauro Olivieri, Usman Khalid, Antonio Mastrandrea, Zia Abbas. “Modeling input noise
                pulse effects on the static power consumption of digital standard cells”, International
                Symposium on Low Power Electronics and Design (ISLPED). (submitted)</li><br>
                <li>Syed Hasan Saeed, Zia Abbas, Bal Gopal. “Electronics Nose & Tongue: Evaluation and
                Applications”, National Conference on Emerging Technologies organised by Integral
                University IUF 33 2008, pp 29-30.</li><br>

                <li>Syed Hasan Saeed, Zia Abbas, Bal Gopal. “Realization of Electronic Nose Using TGS822
                Sensor for Volatile Organic Compound Recognition”, 2nd National Conference on Wireless
                and Optical Communication (WOC-2008), Punjab Engineering College in association with
                IEEE, 18-19 December 2008, pp 33-36</li><br>

                <li>Zia Abbas, Hasin Alam. “A Resistor less Universal Filter based on Current Controlled
                Conveyor using 0.5μm CMOS Technology”, National Conference on Emerging
                Technologies (NCET)-2009, Moradabad Institute of Technology, Moradabad pp 416-420.</li><br>
                <li>Syed Hasan Saeed, Zia Abbas, Bal Gopal. “Biosensors – An Emerging Trend in Biomedical
                Engineering”, 2nd National Conference on Advancement of Technologies organized, GLA
                Group of Institutions Mathura, 24-25 January 2009, pp 58-64.</p><br>
                <li>Syed Hasan Saeed, Zia Abbas, Bal Gopal. “Sense of Smell: An Electronic Nose”, 2nd
                National Conference on Advancement of Technologies organized, GLA Group of Institutions
                Mathura, 24-25 January 2009, pp 364-368.</li><br>
        </li>
       
  </div>
</article>
{% endblock content %}