{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
        <h4>About: </h4>
    </div>
    <p class="article-content">Low power VLSI design, Statistical variations aware modelling and optimization of CMOS and FinFET circuits, High yield designs, Reliability issues in nanoscale CMOS and FinFET circuit circuits, Current mode circuits.</p>
  </div>
</article>

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h4>Research Area: </h4>
      </div>
      <p class="article-content">Low power VLSI design, Statistical variations aware modelling and optimization of CMOS and FinFET circuits, High yield designs, Reliability issues in nanoscale CMOS and FinFET circuit circuits, Current mode circuits.</p>
    </div>
  </article>
</article>

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h4>Expertise:</h4>
      </div>
      <p class="article-content">Low Power Digital and Analog VLSI Design
        Modelling and Optimization of Power Aware design
        Reliability issue in nano-scale CMOS/FinFET circuit design
        Process Variation Aware nano-scale design
        Current Mode Circuits
        Electronic Nose:</p>
    </div>
  </article>
</article>
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <h4>Books:</h4>
      </div>
      <p class="article-content"><li>Zia Abbas, Antonio Mastrandrea, Francesco Menichelli and Mauro Olivieri, SPICE Simulations of Digital VLSI Cells, Springer. (Book chapter, In press)</li>
        <li>Analog Electronics and Solid State Devices -Techguru Publications.</li>
        <li>Basic Electronics -Techguru Publications.</li>
      </p>
    </div>
  </article>
</article>
{% endblock content %}