{% extends "layout.html" %}
{% block content %}
<b><u>INTERNATIONAL JOURNALS:</u></b></br></br>
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <B><a class="article-title" href="https://scholar.google.co.in/citations?user=8oYH-fUAAAAJ&hl=en&oi=sra" target="_blank">{{ post.title }}</a></B>
                <a class="article-title alg" href="{{ post.pdflink }}" target="_blank">[PDF]</a>
            </div>
            <p class="article-content"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.author.username }},</a> {{ post.content }}</p> 
                    
          </div>
        </article>      
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('research', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('research', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}