{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
        <h4>Ph.D. Student </h4>
    </div>
    <p class="article-content">
        <LI>Ruchi Mishra </LI>
        <LI>Salman Ahamad </LI>
    </p>
    </div>
</article>
<article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
              <h4>MS Student </h4>
          </div>
          <p class="article-content">
              <LI>B. Balaji</LI>
              <LI>Monika </LI>
              <LI>Prasannajeet Bhatto Charya</LI>
              <LI>Shumona Bhatta Charya</LI>
              <LI>Mayank Agrwal</LI>
              <LI>Prateek Verma</LI>
              <LI>Deepak Mishra</LI>
              <LI>Kumar Singh</LI>
          </p>
          </div>
      </article>
<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h4>B. Tech. Student </h4>
            </div>
            <p class="article-content">
                <LI>Ashfaque Ali</LI>
                <LI>Ankit Singh </LI>
                <LI>Harishini </LI>
                <LI>Shirisha</LI>
            </p>
        </div>
</article>
<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h4>Dual Degree Student </h4>
            </div>
            <p class="article-content">
                <LI>Praneet Singh</LI>
                <LI>Kunaal </LI>
            </p>
        </div>
</article>
<article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h4>Intern </h4>
            </div>
            <p class="article-content">
                <LI>Salman Ahamad</LI>
                <LI>Vilal Ali</LI>
            </p>
        </div>
</article>
{% endblock content %}