{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
        <h4>At IIIT Hyderabad </h4>
        <h5>Teaching </h5>
    </div>
    <p class="article-content"><b>Course I have recently taught </b>
        <LI>ECE291- Electronics Workshop II </LI>
        <LI>Level1- Digital VLSI Design </LI>
    </p>
    <p class="article-content"><b>Course I had taught in the past </b>
        <LI>(Simulation), VHDL </LI>
        <LI>Verilog (Synthesis) using OrCAD </LI>
        <LI>Leonardo Spectrum</LI>
        <LI>Layout using LASI</LI>
    </p>
    </div>
</article>
{% endblock content %}